        <script type="text/javascript" src="/scripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/scripts/script.js"></script>        
    </body>
</html>